.app-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: var(--bg-main);
}

.content-layout {
  display: flex;
  flex: 1;
  overflow: hidden;
  position: relative;
  background: var(--bg-main);
}
